<div id="ddform" class="ddform">
  <td class="seq hidden-label">
    <label :sequence, "Sequence" %>
    <text_area :sequence, required: true, placeholder: "1" %>
  </td>

  <td class="mar hidden-label">
    <label :mark, "Mark" %>
    <text_area :mark, placeholder: "A1" %>
  </td>

  <td class="mea hidden-label">
    <label :measure, "Measure" %>
    <text_area :measure, placeholder: "1-4" %>
  </td>

  <td class="dir hidden-label">
    <label :direction, "Direction" %>
    <text_area :direction, required: true, placeholder: "Direction..." %>
  </td>

  <td class="pos hidden-label">
    <label :position, "Position" %>
    <text_area :position, placeholder: "m1-w1, m2-w2" %>
  </td>

  <tr>
    <td class="button-bar">
      <div id="actions" class="actions">
        <submit %>
      </div>
    </td>

    <td>
    </td>

    <td>
    </td>

    <td>
    </td>

    <td>
      Dance Completed?
    </td>
  </tr>

</div>
