<main>
  <header>
    <h1>Dance Comments</h1>
  </header>
  
  <ul id="dance_comment_list">
    <% @dance_comments.each do |dc| %>
      <li>
        <%= render 'dance_comment_box', dc: dc %>
      </li>
    <% end %>
  </ul>
</main>
