<main class="meter_index">
  <header>
    <ul class="user-bar">
      <li><%= link_to 'Create New Meter', new_meter_path %></li>
    </ul>
    <h2>Meters</h2>
  </header>

  <ul id="info_list">
    <% @meters.each do |meter| %>
      <li>
        <article class="meter_box">
          <h3><%= link_to meter.name, meter_path(meter) %> <bdi>- <%= meter.description %></bdi></h3>
        </article>
      </li>
    <% end %>
  </ul>
</main>
