<main>
  <header>
    <ul class="user-bar">
      <li><%= link_to 'Create New Meter', new_meter_path %></li>
    </ul>
    <h1>Meters</h1>
  </header>

  <ul id="info_list">
    <% @meters.each do |meter| %>
      <li>
        <article id="meter_box">
          <h6><%= link_to meter.name, meter_path(meter) %></h6>
          <p><%= meter.description %></p>
        </article>
      </li>
    <% end %>
  </ul>
</main>
