<nav class="user-bar">
  <% if @admin_user %>
  <ul class="user_bar">
    <li><%= link_to 'Edit', edit_meter_path(@meter) %></li>
    <li><%= link_to 'Delete', @meter, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
  <% end %>
</nav>

<main>
  <h1><%= @meter.name %></h1>
  <p><%= @meter.description %></p>
</main>
