<aside class="user-bar">
  <%= link_to "Create Dance", new_dance_path %>
</aside>

<main>
  <ul id="dance_list">
    <% @dances.each do |dance| %>
    <li>
      <%= render 'dance_box', dance: dance %>
    </li>
    <% end %>
  </ul>
</main>
