<nav class="user-bar">
  <%= link_to "Create Dance", new_dance_path %>
</nav>

<main id="dancelist">
  <ul>
    <% @dances.each do |dance| %>
    <li>
      <article id="dance_box">
          <p><%= link_to dance.title, dance_path(dance) %><p>
      </article>
    </li>
    <% end %>
  </ul>
</main>
