  <ul id="formation_list">
    <% @formations.each do |formation| %>
      <li>
        <article id="formation_box">
          <%= link_to formation.name, formation_path(formation) %>
        </article>
      </li>
    <% end %>
  </ul>
