<% if @admin_user %>
  <aside>
    <ul class="user_bar">
      <li><%= link_to 'Edit', edit_formation_path(@formation) %></li>
      <li><%= link_to 'Delete', @formation, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </aside>
<% end %>

<main>
  <h1><%= @formation.name %></h1>
  <p><%= @formation.description %></p>
</main>
