@import "colors";

.dance_list li {
  display: block;
}

.dance_box {
  background: $color-white;
  border: 3px solid $color-black;
  margin: 5px;
  padding-left: 20px;
  position: relative;

  h2 bdi {
    font-size: 14px;
    font-weight: normal;
  }

  section {
    p {
      display: inline;
      padding: 20px 8px;
    }

    bdi {
      font-size: 14px;
    }
  }

  footer {
    ul {
      bottom: 0;
      position: absolute;
      right: 5px;
    }

    li {
      display: inline;
      font-size: 12px;
      padding: 20px 8px;
    }
  }
}
