#dance_list li {
  display: block;
}

#dance_box {
  border: 3px solid #000000;
  margin: 5px;
  padding: 20px;
  position: relative;
  background: white;
}

#dance_box h5 div {
  font-size: 14px;
  display: inline;
}

#dance_box p {
  display: inline;
  padding: 20px 8px;
}

#dance_box footer ul {
  position: absolute;
  right: 5px;
  bottom: 0;
}

#dance_box footer li {
  display: inline;
  font-size: 12px;
  padding: 20px 8px;
}
