.forms h2 {
  font-size: 18px;
  margin: 10px 0 0 0;
}

.required {

}

.ref_button {
  padding: 0 4px;
  border: 2px solid black;
  display: inline;
  font-size: 12px;
  box-shadow: 5px 5px 3px #888888;
}

.ref_button:hover {
  border: 2px solid darkred;
}

.ref_button a:hover{
  text-decoration: none;
  color: darkred;
}

.new_button {
  padding: 0 4px;
  border: 2px solid black;
  background-color: white;
  display: inline;
  font-size: 12px;
  box-shadow: 5px 5px 3px #888888;
}

.new_button:hover {
  border: 2px solid darkred;
}

.new_button a:hover {
  text-decoration: none;
  color: darkred;
}
