@import "colors";

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-med_grey;
  font-size: 18px;
}

h1 {
  font-size: 30px;
  margin: 15px 0;
}

h2 {
  font-size: 28px;
  margin: 10px 0;
}

h3 {
  font-size: 26px;
  margin: 5px 0;
}

h4 {
  font-size: 24px;
  margin: 3px 0;
}

h5 {
  font-size: 22px;
  margin: 2px 0;
}

h6 {
  font-size: 20px;
  margin: 5px 0;
}

main {
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #00008b;
}

.top-bar {
  background-color: $color-red;
  color: $color-white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-bottom: 5px solid $color-black;
}

.logo {
}

header aside li {
  display: inline;
  float: right;
  font-size: 12px;
  padding: 31px 8px;
}

.user-bar li {
  display: inline;
  float: right;
  font-size: 14px;
  padding-right: 8px;
  margin-top: 14px;
}

// list css

#info_list {
  padding-left: 25px;

  h3 {
    font-size: 18px;
  }

  bdi {
    font-size: 16px;
    font-weight: normal;
  }
}
