body {
  background-color: #163F6D;
  color: #eee;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: darkred;
}

header aside li {
 display: inline;
}

.logo {
}

.user_bar {
}
